<!Doctype html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>

<form>
	<p>Time
        <!--Check boxes can be made into sliders and did checked because I wanted time set to default-->
        <input name="time" id= "time" type="checkbox" checked>
    </p>
    <p>Twitter
        <input name="twittertoken" id="twitter" type="checkbox">
    </p>
     <p>Calendar
     <input name="calendar" id="calendar" type="checkbox">
    </p>
    <p>Map
        <input name="maps" id="eta" type="checkbox">
    </p>
    <p>Spotify
        <input name="spotifytoken" id="spotify" type="checkbox">
    </p>

    <Label for="pin">4 character pin: </Label>
    <input name="pin" type="text" Placeholder="****" required pattern=".{4,4}" maxlength="4" minlength="4">
    <br>
    <p>Picture of face:</p>
    <input name="facepath"  type="file" accept="image/*" capture="camera" required>

    <hr/>

    <input class="btn btn-lg btn-success" type="submit">
    <input class ="btn btn-lg btn-danger" type="button" onclick="window.location.href='{{url_for('index')}}'" value="Cancel" />
</form>

<form action="{{url_for('logout')}}">

</form>
</body>

<link rel="stylesheet" href="{{ url_for('static', filename ="styles/bootstrap/bootstrap.css") }}">
</html>