<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script language='JavaScript'>
var time = 10;
function countDown(){
time--;
getNumb("container").innerHTML = time;
if(time === 0){
window.close()
}
}
//returns the number from the countdown
function getNumb(id){
if(document.getElementById) return document.getElementById(id);
}
function init(){
if(getNumb('container')){
setInterval(countDown, 1000);
//sets new number of container
getNumb("container").innerHTML = time;
}
else{
setTimeout(init, 10);
}
}
document.onload = init();


</SCRIPT>
</head>
<body style="background-color:black; color:white">
<H2>Picture taken in: <span id="container"></span> seconds...</H2>
</body>
</html>



